# Dependencies
node_modules/
backend/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
backend/**/__pycache__/

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
dist/
build/

# Environment variables
.env
.env.local

# IDE & OS files
.DS_Store
.vscode/
.idea/
